<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

<!--     {%- include header.html -%} -->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ 
          <a href="https://github.com/ashwinve/15745-CompilersProject/blob/main/Project%20Proposal%20Document.pdf" target="_blank"> Project Proposal Document</a>
        }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
